name: Auto Update
on:
    workflow_dispatch:
    schedule:
        - cron: '0 10 * * *'

env:
    TZ: Asia/Shanghai

jobs:
    Update:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v2
        - name: Setup Python
          uses: actions/setup-python@v2
          with:
            python-version: '3.10.9'
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install requests
        - name: Run script
          run: |
            python ./main/main.py
        - name: Set Git Identifier
          run: |
            git config --global user.name 'github-actions'
            git config --global user.email '<EMAIL>'
        - name: Commit and push
          uses: ad-m/github-push-action@v0.6.0
          with:
            github_token: ${{ secrets.GITHUB_TOKEN  }}
            branch: ${{ github.ref }}
          